.container1{
    position: absolute;
    width: 20vw;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(34, 50, 192) , rgb(52, 148, 192));
    display: flex;
     justify-content: center;

}
.logo-container{
    margin: 8vw 0;
    width: 10vw;
    height: 10vw;
    border-radius: 20vw;
    overflow: hidden;
    display: flex;
  align-items: center;
  justify-content: center;
}
.logo-container img{
    width: 100%;
    height: 100%;
}
.section{
    display: flex;
    align-items: center;
    /* background-color: red; */
}
ul li a {
    text-decoration: none;
    color: white;
    line-height: 4vw;
    list-style: none;
    width: 100%; 
    height: 100%;
}
ul li{
    text-align: center;
    line-height: 4vw;
    list-style: none;
    text-decoration: none;
   width: 10vw;
   height: 4vw;
   border-radius: 3vw;
   background-image: linear-gradient(to right, rgb(64, 66, 88) , rgb(168, 184, 192));
   margin: 2vw -3vw;
}
li div{
    
    color: white;
    font-size: large;
}

@media (min-width: 1400px) and (max-width: 2000px) {
    .section {
        margin: -3vw 0;
    }
    ul li{
        line-height: 3vw;
       width: 10vw;
       height: 3vw;
       margin: 2vw -3vw;
    }
    ul li a {
        line-height: 3vw;
    }
   
}

@media (min-width: 600px) and (max-width: 1000px) {
    .section {
        margin: -3vw 0;
    }
    ul li{
       line-height: 4vw;
       width: 15vw;
       height: 4vw;
       margin: 2vw -3vw;
    }
    ul li a {
        line-height: 3vw;
    }
    .container1{
        position: absolute;
        width: 25vw;
        height: 100vh;
        background-image: linear-gradient(to right, rgb(34, 50, 192) , rgb(52, 148, 192));
        display: flex;
         justify-content: center;
    
    }
   
}